
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>
<div class="container">

    <h2>@ViewBag.NameOfMission Mission FAQ's</h2>
    <p>
        <h5>President Name: </h5>@ViewBag.PresidentName <br/>
        <h5>Mission Address: </h5>@ViewBag.MissionAddress <br />
        <h5>Language: </h5>@ViewBag.Language <br />
        <h5>Climate: </h5>@ViewBag.Climate <br />
        <h5>Dominant Religion: </h5>@ViewBag.DomReligion <br />
        <h5>Flag: </h5>@ViewBag.Flag <br />
    </p>
    <p>
        <h5>Q&A</h5><br />
        <b>Q: </b>What time do missionaries get up in the morning?<br />
        <b>A: </b> Missionaries get up each morning at 6:30AM.<br /><br />
        <b>Q: </b>How long does it take to learn the language?<br />
        <b>A: </b>Every missionary is different, but the average time it takes to learn the language is 6 months. <br /><br />
        <b>Q: </b>How long do you usually stay in one area?<br />
        <b>A: </b>Missionaries are usually in an area for 2-4 transfers, or 6 months. <br /><br />
    </p>

</div>

