
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>
<div class="container">

    <h2>@ViewBag.NameOfMission Mission FAQ's</h2>
    <p>
        <h5>President Name: </h5>@ViewBag.PresidentName <br/>
        <h5>Mission Address: </h5>@ViewBag.MissionAddress <br />
        <h5>Language: </h5>@ViewBag.Language <br />
        <h5>Climate: </h5>@ViewBag.Climate <br />
        <h5>Dominant Religion: </h5>@ViewBag.DomReligion <br />
        <h5>Flag: </h5>@ViewBag.Flag <br />
    </p>
</div>

