@model IEnumerable<MissionSite2.Models.MissionQuestions>
    @{
        ViewBag.Title = "FAQ";
    }

    <div class="container">


        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>@ViewBag.NameOfMission Mission FAQ's</h2>
            </div>
        </div>

        <!--Dynamic page based on what the user picks in the dropdown list in the Mission View-->
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <h5>President Name: </h5>@ViewBag.PresidentName <br /> <br />
                    <h5>Mission Address: </h5>@ViewBag.MissionAddress <br /><br />
                    <h5>Language: </h5>@ViewBag.Language <br /><br />
                    <h5>Climate: </h5>@ViewBag.Climate <br /><br />
                    <h5>Dominant Religion: </h5>@ViewBag.DomReligion <br /><br />
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <div class="container">
                    <img class="img-thumbnail" src="~/Content/img/@(ViewBag.Flag)" />
                </div>
            </div>
        </div>

        <!--question and answer section-->
        <div class="row">
            <div class="col-lg-12">
                <h2>Q&A</h2><br />
            </div>
        </div>

       @foreach (var item in Model)
       {
        <table>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-lg-6">
                        <button data-toggle="collapse" data-target="#demo" class="btn btn-primary btn-sm text-uppercase">Reply</button>
                        <br />
                        <div id="demo" class="collapse">
                            @using (Html.BeginForm("AnswerQuestion", "SelectedMission", FormMethod.Post))
                            {
                                @Html.TextArea("Insert Answer Here...")

                                <br />
                                <button class="btn btn-primary btn-sm text-uppercase" type="submit" value="Submit">Submit</button>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        </table>
       }
        @*<div class="row">
            <div class="col-lg-12 text-left">
                <h5>Q: What time do missionaries get up in the morning?</h5><br />
                <h5>A: Missionaries get up each morning at 6:30AM.</h5><br /><br />
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-12 text-left">
                <h5>Q: How long does it take to learn the language?</h5><br />
                <h5>A: Every missionary is different, but the average time it takes to learn the language is 6 months. </h5><br /><br />
            </div>

            


            </div>
        <br />

        <div class="row">
            <div class="col-lg-12 text-left">
                <h5>Q: How long do you usually stay in one area?</h5><br />
                <h5>A: Missionaries are usually in an area for 2-4 transfers, or 6 months. </h5><br /><br />
            </div>
            <div class="col-lg-6">
                <form>
                    <textarea class="form-control" id="message" placeholder="Enter your answer here... "
                              required data-validation-required-message="Enter your answer here... "></textarea>
                    <p class="help-block text-danger"></p>
                    <button class="btn btn-primary btn-sm text-uppercase" type="reset">Reply</button>
                </form>
            </div>
        </div>
        <br />*@


        <!--Users can submit questions via this form-->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Have any questions?</h2>
                <form>
                    <textarea class="form-control" id="message" placeholder="Enter your question here *"
                              required data-validation-required-message="Enter your question here *"></textarea>
                    <p class="help-block text-danger"></p>
                    <button class="btn btn-primary btn-xl text-uppercase" type="reset">Ask</button>
                </form>
            </div>
        </div>
    </div>

